

// SCRIPTS

//build:js js/scripts.min.js
script(src="components/jquery/dist/jquery.min.js")
script(src="js/libs/jquery.maskedinput.min.js")
script(src="js/libs/jquery.hidensick.min.js")
script(src="js/libs/jquery.scrollbar.min.js")
script(src="js/main.js")
//endbuild
