

// SCRIPTS

//build:js js/scripts.min.js
script(src="components/jquery/dist/jquery.min.js")
script(src="components/air-datepicker/dist/js/datepicker.min.js")
script(src="components/air-datepicker/dist/js/i18n/datepicker.en.js")
script(src="js/libs/jquery.maskedinput.min.js")
script(src="js/libs/jquery.hidensick.min.js")
script(src="js/libs/jquery.scrollbar.min.js")
script(src="components/tether/dist/js/tether.min.js")
script(src="js/libs/jquery.bs-tooltip.js")
script(src="js/main.js")
//endbuild
