.e-calc__steps
  .e-calc__steps__box
    .e-calc__step.active(data-step='1') Location
    .e-calc__step(data-step='2') Current use
    .e-calc__step(data-step='3') Compare
    .e-calc__step(data-step='4') Apply
