doctype html
<!--[if IE 8]>         <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 oldie"> <![endif]-->
<!--[if gt IE 9]><!--> <html class=""> <!--<![endif]-->
  include shared/head.pug

  body
    include shared/header.pug
    
    .e-calc
      .container.text-center
        .e-calc__heading.e-calc__heading--huge You have chosen Blue+Fixed Prepay June 2018
        
      .container
        .e-calc__final
          .e-calc__results__card
            .e-calc__results__card__left
              .e-calc__results__card__name
                img(src='images/logos/bgas.png' srcset='images/logos/bgas@2x.png 2x')
                span Bristol Energy Standard Prepayment
              .e-calc__results__card__left-bottom
                .e-calc__results__card__features
                  span - Variable rate
                  span - No exit fee
                .e-calc__results__card__personal
                  span Personal rate
                  .e-calc__results__card__personal__num £914.11 
                  
            .e-calc__results__card__right
              .e-calc__results__card__prediction
                span You will save
                .e-calc__results__card__prediction__num £914.11 
              .e-calc__results__card__cta
                a(href='#').e-calc__btn.e-calc__btn--primary Apply Now
                a(href='#').js-eCalcBreakdownToggle.e-calc__results__card__cta__more 
                  span calculation breakdown
          
          .e-calc__tip.text-center To complete your switch EDF Energy need some details to set up your account.


      // next section
      .e-calc__section
        .container
          .e-calc__section-title Your home

      .container
        // question
        .e-calc__question
          .e-calc__heading - How long have you lived at this address?
        
        // question
        .e-calc__question
          .e-calc__heading - Do you have a different billing address?
          .e-calc__checkboxes
            .e-calc__checkbox.e-calc__checkbox--yesno
              input(type='radio' name='question_2' id='question_2_1')
              label(for='question_2_1')
                i.icon.icon-yes
                span Yes
            .e-calc__checkbox.e-calc__checkbox--yesno
              input(type='radio' name='question_2' id='question_2_2' checked)
              label(for='question_2_2')
                i.icon.icon-no
                span No

      // next section
      .e-calc__section
        .container
          .e-calc__section-title Additional Information
      
      .container
        // question
        .e-calc__question
          .e-calc__heading - EDF Energy Marketing
          .e-calc__tip We need your permission to tell you about products, tariffs and services that could benefit you or save you money - such as our great value fixed price energy deals. We won't sell your details, we'll only get in touch occasionally using the contact details you’ve given us, and you can easily opt out at any time.
          
          .e-calc__checkboxes
            .e-calc__checkbox.e-calc__checkbox--yesno
              input(type='radio' name='question_3' id='question_3_1')
              label(for='question_3_1')
                i.icon.icon-yes
                span Yes
            .e-calc__checkbox.e-calc__checkbox--yesno
              input(type='radio' name='question_3' id='question_3_2')
              label(for='question_3_2')
                i.icon.icon-no
                span No

        // question
        .e-calc__question
          .e-calc__heading - Priority services Register (PSR)
          .e-calc__tip Would you like to apply for Priority services Register (PSR) ? you can get extra help and support with your energy supply. You can sign up if you’re: a pensioner, disabled or chronically sick, have a hearing or visual impairment
          
          .e-calc__checkboxes
            .e-calc__checkbox.e-calc__checkbox--yesno
              input(type='radio' name='question_4' id='question_4_1')
              label(for='question_4_1')
                i.icon.icon-yes
                span Yes
            .e-calc__checkbox.e-calc__checkbox--yesno
              input(type='radio' name='question_4' id='question_4_2')
              label(for='question_4_2')
                i.icon.icon-no
                span No
        
        // question
        .e-calc__question
          .e-calc__heading - Do you have a smart meter for your electricity supply?
            i.icon.icon-tooltip(data-toggle="tooltip" data-placement="top" data-html="true" title="If you currently have a smart meter you may lose functionality by changing your supplier.")

          .e-calc__checkboxes
            .e-calc__checkbox.e-calc__checkbox--yesno
              input(type='radio' name='question_5' id='question_5_1')
              label(for='question_5_1')
                i.icon.icon-yes
                span Yes
            .e-calc__checkbox.e-calc__checkbox--yesno
              input(type='radio' name='question_5' id='question_5_2')
              label(for='question_5_2')
                i.icon.icon-no
                span No
        
        // question
        .e-calc__question
          .e-calc__heading - Do you have a smart meter for your gas supply?
            i.icon.icon-tooltip(data-toggle="tooltip" data-placement="top" data-html="true" title="If you currently have a smart meter you may lose functionality by changing your supplier.")
          .e-calc__checkboxes
            .e-calc__checkbox.e-calc__checkbox--yesno
              input(type='radio' name='question_6' id='question_6_1')
              label(for='question_6_1')
                i.icon.icon-yes
                span Yes
            .e-calc__checkbox.e-calc__checkbox--yesno
              input(type='radio' name='question_6' id='question_6_2')
              label(for='question_6_2')
                i.icon.icon-no
                span No
                
        // question
        .e-calc__question
          .e-calc__heading - Outstanding Balance
          .e-calc__tip 
            p If you have an outstanding balance your current supplier may object to your request to switch. However, if your outstanding balance is £500 or less per fuel, you may still be able to switch by agreeing to move the outstanding balance to your chosen supplier. For this option to progress your current supplier will need to share details of your outstanding balance with your chosen supplier. Your weekly repayment rate will remain unchanged, should the switch be successful.
            p I have read and understood the statement above and agree to outstanding balances of £500 or less being assigned to my chosen supplier if required to progress my switch.

          .e-calc__checkboxes
            .e-calc__checkbox.e-calc__checkbox--yesno
              input(type='radio' name='question_6' id='question_6_1')
              label(for='question_6_1')
                i.icon.icon-yes
                span Yes
                
      // next section
      .e-calc__section
        .container
          .e-calc__section-title Your details
      
      .container
        // question
        .e-calc__question
          .e-calc__heading - What is your name?
          .e-calc__group.e-calc__group--user
            .e-calc__select
              input(type='hidden')
              .e-calc__select__box
                .e-calc__select__visible 
                  span Mr. 
                  i.icon.icon-dropdown
                .e-calc__select__dropdown
                  span(data-value='Mr') Mr
                  span(data-value='Ms') Ms
                  span(data-value='Mrs') Mrs
                  span(data-value='Doctor') Doctor
            
            .e-calc__input.e-calc__input--contact
              input(type='text' autocomplete='off' placeholder='Your first name')
              i.icon.icon-avatar
            .e-calc__input.e-calc__input--contact
              input(type='text' autocomplete='off' placeholder='Your last name')
              i.icon.icon-avatar
        
        // question
        .e-calc__question
          .e-calc__heading - Contact information:  
          .e-calc__editable
            .e-calc__editable__icon
              i.icon.icon-email
            .e-calc__editable__value my.email@gmail.com
            .e-calc__editable__edit edit
            
            .e-calc__input.e-calc__input--contact
              input(type='text' placeholder='my.email@gmail.com')
              i.icon.icon-email
          .e-calc__editable
            .e-calc__editable__icon
              i.icon.icon-phone
            .e-calc__editable__value 03069 990947
            .e-calc__editable__edit edit
            .e-calc__input.e-calc__input--contact
              input(type='text'  placeholder='03069 990947')
              i.icon.icon-phone
              
        // question
        .e-calc__question
          .e-calc__heading - What is your date of Birth?
          .e-calc__input.e-calc__input--contact.e-calc__input--date
            input(type='text' autocomplete='off' placeholder='dd.mm.yyyy').js-datepicker
            i.icon.icon-calendar
              
        // question
        .e-calc__question
          .e-calc__heading - Additional information from EDF Energy
          .e-calc__tip EDF Energy will provide all communications where possible to you electronically. If you'd prefer paper communications you are able to change your preferences later, with EDF Energy. If you have chosen to pay by Direct Debit, confirmation of your Direct Debit instruction will be sent to you by EDF Energy within 3 working days.
          .e-calc__checkboxes
            .e-calc__checkbox.e-calc__checkbox--yesno
              input(type='radio' name='question_7' id='question_7_1')
              label(for='question_7_1')
                i.icon.icon-yes
                span Agree
        // question
        .e-calc__question
          .e-calc__heading - Keep me informed about other products and services
          .e-calc__tip Please tick this box if you wish Simply Switch to keep you informed about other products and services they provide.
          .e-calc__checkboxes
            .e-calc__checkbox.e-calc__checkbox--yesno
              input(type='radio' name='question_8' id='question_8_1')
              label(for='question_8_1')
                i.icon.icon-yes
                span Agree                  
        
        // CTA
        .e-calc__cta.e-calc__cta--bordered
          a(href='step5.html').e-calc__btn.e-calc__btn--primary.e-calc__btn--huge Confirm my switch
        
          .e-calc__tip 
            p By clicking "Confirm my switch" you agree to commit and pay and accept EDF Energy's <a href='#'>terms and conditions</a>
            p You have the right to cancel within <span>14 days</span> after you receive your Confirmation of Contract
        
      // Progress indicator
      .e-calc__progress
        .container
          .e-calc__progress__counter 2 / 10 answered
          .e-calc__progress__actions
            a(href='#sectionTop')
              i.icon.icon-up
            a(href='step2.html').e-calc__btn.e-calc__btn--progress.disabled.js-toggleStep Confirm my switch
      
      // STEPS                            
      .e-calc__steps
        .e-calc__steps__box
          a(href='index.html').e-calc__step(data-step='1') Location
          a(href='step2.html').e-calc__step(data-step='2') Current use
          a(href='step3.html').e-calc__step(data-step='3') Compare
          a(href='#').e-calc__step(data-step='4').active Apply
          
    include shared/footer.pug
